#wrap {
    margin: 0px; 
    padding: 10px; 
    max-width: 1000px; 
    min-width: 500px; 
    margin: auto;
}

#header {}

#sidebar { 
    top:0px; 
    width: 215px; 
    float: left;
    height: 100%; 
    right auto; 
    margin: 0 10 0 0; 
    overflow: auto; 
    font-size: 14px;
}

#content {
    top:0px; 
    margin-left: 225px; 
    left auto; 
    min-height:100px; 
    margin: 0; 
    overflow: auto;
}

#footer {
    clear:both; 
}

#feed dt {
    font-weight: bold;
}

#feed dd {
    margin: 0;
}

dl.projects {

}

dl.projects dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

dl.projects dd {
    clear:right;
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

dl.people dt {
    float: left;
    clear: left;
    width: 130px;
    text-align: right;
    font-weight: bold;
}

dl.people dd {
    margin: 0 0 0 140px;
    padding: 0 0 0.5em 0;
}

dl.courses dt {
    float: left;
    clear: left;
    width: 270px;
    text-align: right;
    font-weight: bold;
}

dl.courses dd {
    margin: 0 0 0 280px;
    padding: 0 0 0.5em 0;
}

.icon {
    margin: 1px;
    width: 24px;
    height: 24px;
}

ul {
    padding: 0 0 0 20px;
}

li {
    margin: 0 0 0.5em 0;
}

a:link {
    color: rgb(31,143,176);
    text-decoration: none;
}

a:visited {
    color: rgb(31,143,176);
    text-decoration: none;
}

body {
	font-family: 'RobotoDraft','Roboto','Helvetica Neue, Helvetica, Arial',sans-serif;
}

h2 {
    margin-bottom: 4px;
}

hr {
border-color: rgb(250,250,250);
}


.tut, .model, .app, .doi, 
.slides, .pdf, .video, .data, 
.page, .poster { 
    position: relative; 
}

.tut::before, .model::before, .app::before, 
.doi::before, .pdf::before, .slides::before, 
.video::before, .data::before, .page::before,
.poster::before {
  display: inline-block;
  position: absolute; bottom: 50%;
  background: #000; color: #FFF; padding: 5px; border-radius: 5px;
  opacity:0; transition:0.3s; overflow:hidden;
  pointer-events: none;
}

.data::before {
  content: "data"; /* print em-space with class text */
}

.poster::before {
  content: "poster"; /* print em-space with class text */
}

.tut::before {
  content: "tutorial"; /* print em-space with class text */
}

.video::before {
  content: "video"; /* print em-space with class text */
}

.slides::before {
  content: "slides"; /* print em-space with class text */
}

.pdf::before {
  content: "PDF"; /* print em-space with class text */
}

.doi::before {
  content: "DOI"; /* print em-space with class text */
}

.app::before {
  content: "software"; /* print em-space with class text */
}

.model::before {
  content: "models"; /* print em-space with class text */
}

.page::before {
  content: "webpage"; /* print em-space with class text */
}

.model:hover::before, .app:hover::before, .tut:hover::before, 
.doi:hover::before, .slides:hover::before, .pdf:hover::before, 
.video:hover::before, .data:hover::before, .page:hover::before,
.poster:hover::before { 
    opacity:1; bottom: 100%;
}

.iconsm a {
   display: inline-block;
   margin: 0 0px 0 0;
}

.iconsm span {
   margin: 0 5px 0 0;
}

.model::after {
  font-family: "Font Awesome 5 Free";
  content: "\f542";
  font-weight: 900;
}

.app::after {
  font-family: "Font Awesome 5 Free";
  content: "\f187";
  font-weight: 900;
}

.poster::after {
  font-family: "Font Awesome 5 Free";
  content: "\f1c5";
  font-weight: 900;
}

.slides::after {
  font-family: "Font Awesome 5 Free";
  content: "\f51b";
  font-weight: 900;
}

.video::after {
  font-family: "Font Awesome 5 Free";
  content: "\f008";
  font-weight: 900;
}

.tut::after {
  font-family: "Font Awesome 5 Free";
  content: "\f518";
  font-weight: 900;
}

.pdf::after {
  font-family: "Font Awesome 5 Free";
  content: "\f1c1";
  font-weight: 400;
}

.data::after {
  font-family: "Font Awesome 5 Free";
  content: "\f1c0";
  font-weight: 600;
}

.page::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0c1";
  font-weight: 600;
}

.doi::after {
  font-family: "Academicons";
  content: "\e97e";
  font-weight: 400;
}

