#wrap {
    margin: 0px; 
    padding: 10px; 
    max-width: 1000px; 
    min-width: 500px; 
    margin: auto;
}

#header {}

#sidebar { 
    top:0px; 
    width: 215px; 
    float: left;
    height: 100%; 
    right auto; 
    margin: 0 10 0 0; 
    overflow: auto; 
    font-size: 14px;
}

#content {
    top:0px; 
    margin-left: 225px; 
    left auto; 
    min-height:100px; 
    margin: 0; 
    overflow: auto;
}

#footer {
    clear:both; 
}

#feed dt {
    font-weight: bold;
}

#feed dd {
    margin: 0;
}

dl.projects {

}

dl.projects dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

dl.projects dd {
    clear:right;
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

dl.people dt {
    float: left;
    clear: left;
    width: 130px;
    text-align: right;
    font-weight: bold;
}

dl.people dd {
    margin: 0 0 0 140px;
    padding: 0 0 0.5em 0;
}

dl.courses dt {
    float: left;
    clear: left;
    width: 270px;
    text-align: right;
    font-weight: bold;
}

dl.courses dd {
    margin: 0 0 0 280px;
    padding: 0 0 0.5em 0;
}

.icon {
    margin: 1px;
    width: 24px;
    height: 24px;
}

ul {
    padding: 0 0 0 20px;
}

li {
    margin: 0 0 0.5em 0;
}

a:link {
    color: rgb(31,143,176);
    text-decoration: none;
}

a:visited {
    color: rgb(31,143,176);
    text-decoration: none;
}

body {
	font-family: 'RobotoDraft','Roboto','Helvetica Neue, Helvetica, Arial',sans-serif;
}

h2 {
    margin-bottom: 4px;
}

hr {
border-color: rgb(250,250,250);
}


.tut, .model, .app, .doi, 
.slides, .pdf, .video, .data, 
.page, .poster { 
    position: relative; 

}

.model a {
   color: rgb(40,73,176);
}

.tut a {
   color: rgb(176,76,49);
}

.app a {
   color: rgb(176,132,14);
}

.doi a {
   color: rgb(23,176,128);
}

.slides a {
   color: rgb(142,27,29);
}

.video a {
   color: rgb(78,143,41);
}

.data a {
   color: rgb(143,65,34);
}

.page a {
   color: rgb(13,143,122);
}

.poster a {
   color: rgb(142,20,143);
}

.tut::after, .model::after, .app::after, 
.doi::after, .pdf::after, .slides::after, 
.video::after, .data::after, .page::after,
.poster::after {
  display: inline-block;
  position: absolute; bottom: 50%;
  background: #000; color: #FFF; padding: 5px; border-radius: 5px;
  opacity:0; transition:0.3s; overflow:hidden;
  pointer-events: none;
}

.data::after {
  content: "data"; /* print em-space with class text */
}

.poster::after {
  content: "poster"; /* print em-space with class text */
}

.tut::after {
  content: "tutorial"; /* print em-space with class text */
}

.video::after {
  content: "video"; /* print em-space with class text */
}

.slides::after {
  content: "slides"; /* print em-space with class text */
}

.pdf::after {
  content: "PDF"; /* print em-space with class text */
}

.doi::after {
  content: "DOI"; /* print em-space with class text */
}

.app::after {
  content: "software"; /* print em-space with class text */
}

.model::after {
  content: "models"; /* print em-space with class text */
}

.page::after {
  content: "webpage"; /* print em-space with class text */
}

.model:hover::after, .app:hover::after, .tut:hover::after, 
.doi:hover::after, .slides:hover::after, .pdf:hover::after, 
.video:hover::after, .data:hover::after, .page:hover::after,
.poster:hover::after { 
    opacity:1; bottom: 100%;
}

.iconsm a {
   display: inline-block;
   margin: 0 0px 0 0;
}

.icons {
  margin-top: 2px;
}

.iconsm span {
   margin: 0 4px 0 0;
   border: 1px solid;
   border-radius: 11px;
   padding: 2px 3px;
   font-size: 12px;
}

.model .icon::before, .app .icon::before, .tut .icon::before, 
.doi .icon::before, .slides .icon::before, .pdf .icon::before, 
.video .icon::before, .data .icon::before, .page .icon::before,
.poster .icon::before { 
  font-family: "Font Awesome 5 Free";
  content: "\f542";
  font-weight: 900;
  margin-right: 2px;
}

.model .icon::before {
  content: "\f542";
}

.app .icon::before {
  content: "\f187";
}

.poster .icon::before {
  content: "\f1c5";
}

.slides .icon::before {
  content: "\f51b";
}

.video .icon::before {
  content: "\f008";
}

.tut .icon::before {
  content: "\f518";
}

.pdf .icon::before {
  content: "\f1c1";
  font-weight: 400;
}

.data .icon::before {
  content: "\f1c0";
  font-weight: 600;
}

.page .icon::before {
  content: "\f0c1";
  font-weight: 600;
}

.doi .icon::before {
  font-family: "Academicons";
  content: "\e97e";
  font-weight: 400;
}

